{% extends 'base.html' %}
{% load static %}

<!-- Top News Start-->
{% block content %}
    <div class="top-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6 tn-left">
                    <div class="row tn-slider">
                        {% for post in posts %}
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src="{{ post.image.url }}" style="height: 300px;width: 540px"/>
                                    <div class="tn-title">
                                        <a href="{% url 'blog-detail' post.slug %}">{{ post.title }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-md-6 tn-right">
                    <div class="row">
                        {% for cpa in random_cpas %}
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src="{{ cpa.title_image.url }}" style="height: 180px"/>
                                    <div class="tn-title">
                                        <a href="{% url 'cpa-detail' cpa.slug %}">{{ cpa.title }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top News End-->

    <!-- Category News Start-->
    <div class="cat-news">
        <div class="container">
            <div class="row">
                {% for category in categories_with_links %}
                    <div class="col-md-6">
                        <h2>{{ category.name }} Links</h2>
                        <div class="row cn-slider">
                            {% for cpa in category.cpalink_set.all %}
                                <div class="col-md-6">
                                    <div class="cn-img">
                                        <img src="{{ cpa.title_image.url }}"/>
                                        <div class="cn-title">
                                            <a href="{% url 'cpa-detail' cpa.slug %}">{{ cpa.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Category News End-->

    <!-- Category News Start-->

    <!-- Category News End-->

    <!-- Tab News Start-->
    <div class="tab-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#featured">Featured Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#popular">Popular Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#latest">Latest Blogs</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="featured" class="container tab-pane active">
                            {% for featured_blog in featured_blogs %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="{{ featured_blog.image.url }}"/>
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'blog-detail' featured_blog.slug %}">{{ featured_blog.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div id="popular" class="container tab-pane fade">
                            {% for popular_blog in popular_blogs %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="{{ popular_blog.image.url }}"/>
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'blog-detail' popular_blog.slug %}">{{ popular_blog.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div id="latest" class="container tab-pane fade">
                            {% for latest_blog in latest_blogs %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="{{ latest_blog.image.url }}"/>
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'blog-detail' latest_blog.slug %}">{{ latest_blog.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#m-viewed">Featured Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#m-read">Popular Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#m-recent">Latest Links</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="m-viewed" class="container tab-pane active">
                            {% for featured_link in featured_links %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="{{ featured_link.title_image.url }}"/>
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'cpa-detail' featured_link.slug %}">{{ featured_link.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div id="m-read" class="container tab-pane fade">
                            {% for popular_link in popular_links %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="{{ popular_link.title_image.url }}"/>
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'cpa-detail' popular_link.slug %}">{{ popular_link.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div id="m-recent" class="container tab-pane fade">
                            {% for latest_link in latest_links %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="{{ latest_link.title_image.url }}"/>
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'cpa-detail' latest_link.slug %}">{{ latest_link.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tab News Start-->

    <!-- Main News Start-->
    <div class="main-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        {% for some_blog in some_blogs %}
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img src="{{ some_blog.image.url }}" style="height: 170px"/>
                                    <div class="mn-title">
                                        <a href="{% url 'blog-detail' some_blog.slug %}">{{ some_blog.title }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="mn-list">
                        <h2>Read More</h2>
                        <ul>
                            {% for some_blog in some_blogs %}
                                <li><a href="{% url 'blog-detail' some_blog.slug %}">{{ some_blog.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main News End-->
{% endblock %}