{% extends 'base.html' %}
{% block content %}
<div id="content" class="site-content">
    <section class="page-header" style="">
        <div class="container">
            <div class="inner">
                <div class="inner-content clearfix">
                    <div class="header-content">
                        <h1>Privacy Policy</h1>
                    </div>
                    <div class="ui breadcrumb breadcrumbs"><span><a title="Go to Coupan Haven"
                                                                    href="{% url 'home' %}" class="home"><span>Coupan Haven</span></a>
                                </span> &gt; <span><span
                            class="post post-page current-item">Privacy Policy</span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="content-wrap" class="container container-page right-sidebar">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="post-entry shadow-box content-box post-220 page type-page status-publish hentry">

                    <div class="bp-star-ratings  top-left lft" data-id="220">
                        <div class="bpsr-stars bpsr-star gray">
                            <div class="bpsr-fuel bpsr-star yellow" style="width:0%;"></div>
                            <!-- bpsr-fuel --><a href="#1"></a><a href="#2"></a><a href="#3"></a><a href="#4"></a><a
                                href="#5"></a>
                        </div>
                        <!-- bpsr-stars -->
                        <div class="bpsr-legend">
                            <div itemscope itemtype="https://schema.org/Product"><span itemprop="name"
                                                                                       class="bpsr-title">Privacy Policy</span>
                                <link itemprop="image" href="#"/>
                                <meta itemprop="mpn" content="220"/>
                                <meta itemprop="description" content="Privacy Policy"/>
                                <span itemprop="aggregateRating" itemscope
                                      itemtype="https://schema.org/AggregateRating"><span
                                        itemprop="ratingValue">4.5</span> / 5 ( <span
                                        itemprop="ratingCount">2</span> votes ) </span>
                                <meta itemprop="sku"
                                      content="220"/>
                                <div itemprop="brand" itemtype="http://schema.org/Brand" itemscope>
                                    <meta itemprop="name" content="Privacy Policy"/>
                                </div>
                                <div itemprop="review" itemtype="http://schema.org/Review" itemscope>
                                    <div itemprop="author" itemtype="http://schema.org/Person" itemscope>
                                        <meta itemprop="name" content="R. Johsan"/>
                                    </div>
                                </div>
                                <div itemprop="offers" itemtype="http://schema.org/AggregateOffer" itemscope>
                                    <meta itemprop="lowPrice" content="0"/>
                                    <meta itemprop="highPrice" content="0"/>
                                    <meta itemprop="offerCount" content="6"/>
                                    <meta itemprop="priceCurrency" content="USD"/>
                                </div>
                            </div>
                        </div>
                        <!-- bpsr-legend -->
                    </div>
                    <!-- bp-star-ratings -->

                    <h2 class="wp-block-heading">Who we are</h2>


                    <p><strong class="privacy-policy-tutorial">Suggested text: </strong>Our website address is:
                        https://coupanhaven.com.</p>


                    <h2 class="wp-block-heading">Comments</h2>


                    <p><strong class="privacy-policy-tutorial">Suggested text: </strong>When
                        visitors leave comments on our site, we collect the data provided in the comments form,
                        along with the visitor's IP address and browser user agent string to help identify and
                        prevent spam.

                        An anonymized string created from your email address (also known as a hash) may be provided
                        to the Gravatar service to check if you are using it. The Gravatar service's privacy policy
                        can be found here: https://automattic.com/privacy/. After your comment is approved, your
                        profile picture will be visible to the public in the context of your comment.

                    </p>


                    <h2 class="wp-block-heading">Media</h2>


                    <p><strong class="privacy-policy-tutorial">Suggested text: </strong>If you
                        upload images to our website, please ensure that these images do not contain embedded
                        location data (EXIF GPS). Visitors to our website can download and extract location data
                        from such images.</p>


                    <h2 class="wp-block-heading">Cookies</h2>


                    <p><strong class="privacy-policy-tutorial">Suggested text: </strong>If you leave
                        a comment on Coupon Haven, you may opt-in to save your name, email address, and website in
                        cookies. These cookies are for your convenience, so you don't have to re-enter your details
                        when leaving another comment. These cookies will remain valid for one year.</p>


                    <p>When you visit our login page, a temporary cookie will be set to determine if your browser
                        accepts cookies. This temporary cookie contains no personal data and is discarded when you
                        close your browser.</p>


                    <p>Upon logging in, we will also set up several cookies to save your login information and
                        screen display preferences. Login cookies remain valid for two days, while screen options
                        cookies are retained for a year. If you select "Remember Me," your login will persist for
                        two weeks. Logging out of your account will remove the login cookies.</p>


                    <p>If you edit or publish an article, an additional cookie will be saved in your browser. This
                        cookie contains no personal data and solely indicates the post ID of the article you edited.
                        It expires after 1 day.

                    </p>


                    <h2 class="wp-block-heading">Embedded content from other websites</h2>


                    <p><strong class="privacy-policy-tutorial">Suggested text: </strong>Articles on
                        Coupon Haven may include embedded content (such as videos, images, articles, etc.) from
                        other websites. This embedded content behaves in the same manner as if you were visiting the
                        originating website.</p>


                    <p>These external websites may collect data about you, use cookies, embed additional third-party
                        tracking, and monitor your interaction with the embedded content, including tracking your
                        activity if you have an account and are logged in to that external website.</p>


                    <h2 class="wp-block-heading">Who we share your data with</h2>


                    <p><strong class="privacy-policy-tutorial">Suggested text: </strong>If you
                        request a password reset on Coupon Haven, your IP address will be included in the reset
                        email.

                    </p>


                    <h2 class="wp-block-heading">How long we retain your data</h2>


                    <p><strong class="privacy-policy-tutorial">Suggested text: </strong>If you leave
                        a comment, both the comment and its associated metadata will be retained indefinitely. This
                        is done to automatically recognize and approve any follow-up comments, eliminating the need
                        for them to go through a moderation queue.</p>


                    <p>For users who register on our website (if any), their personal information provided in their
                        user profile will be stored. All users can view, edit, or delete their personal information
                        at any time (with the exception of changing their username). Website administrators also
                        have access to view and edit this information.

                    </p>


                    <h2 class="wp-block-heading">What rights you have over your data</h2>


                    <p><strong class="privacy-policy-tutorial">Suggested text: </strong>If you have
                        an account on Coupon Haven or have left comments, you can request to receive an exported
                        file of your personal data held by us, including any data you've provided. You also have the
                        right to request the erasure of any personal data we hold about you, with the exception of
                        data we are obliged to keep for administrative, legal, or security purposes.

                    </p>


                    <h2 class="wp-block-heading">Where we send your data</h2>


                    <p><strong class="privacy-policy-tutorial">Suggested text: </strong>Visitor comments may be subject
                        to automated spam detection services.</p>
                </div>
            </main>
            <!-- #main -->
        </div>
        <!-- #primary -->
    </div>
</div>
{% endblock %}