{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">{{ post.title }}</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Single News Start-->
<div class="single-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sn-container">
                    <div class="sn-img">
                        <img src="{{ post.image.url }}"/>
                    </div>
                    <div class="sn-content">
                        <h1>{{ post.title }}</h1>
                        {{ post.content | safe }}
                    </div>
                </div>
                <div class="sn-related">
                    <h2>Related Blogs</h2>
                    <div class="row sn-slider">
                        {% for blog in blogs %}
                            <div class="col-md-4">
                                <div class="sn-img">
                                    <img src="{{ blog.image.url }}" style="height: 230px;height: 150px"/>
                                    <div class="sn-title">
                                        <a href="{% url 'blog-detail' blog.slug %}">{{ blog.title }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h2 class="sw-title">In This Category</h2>
                        <div class="news-list">
                            {% for blog in blogs %}
                                <div class="nl-item">
                                    <div class="nl-img">
                                        <img src="{{ blog.image.url }}"/>
                                    </div>
                                    <div class="nl-title">
                                        <a href="{% url 'blog-detail' blog.slug %}">{{ blog.title }}</a>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No blogs available in this category.</p>
                            {% endfor %}

                        </div>
                    </div>

                    {#                    <div class="sidebar-widget">#}
                    {#                        <div class="image">#}
                    {#                            <a href="https://htmlcodex.com"><img src="{% static 'img/ads-2.jpg' %}" alt="Image"></a>#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <div class="sidebar-widget">
                        <div class="tab-news">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="featured" class="container tab-pane active">
                                    {% for feature in featured_blogs %}
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{{ feature.image.url }}"/>
                                            </div>
                                            <div class="tn-title">
                                                <a href="{% url 'blog-detail' feature.slug %}">{{ feature.title }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                                <div id="popular" class="container tab-pane fade">
                                    {% for popular in popular_blogs %}
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{{ popular.image.url }}"/>
                                            </div>
                                            <div class="tn-title">
                                                <a href="{% url 'blog-detail' popular.slug %}">{{ popular.title }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div id="latest" class="container tab-pane fade">
                                    {% for latest in latest_blogs %}
                                        <div class="tn-news">
                                            <div class="tn-img">
                                                <img src="{{ latest.image.url }}"/>
                                            </div>
                                            <div class="tn-title">
                                                <a href="{% url 'blog-detail' latest.slug %}">{{ latest.title }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                    {#                    <div class="sidebar-widget">#}
                    {#                        <div class="image">#}
                    {#                            <a href="https://htmlcodex.com"><img src="{% static 'img/ads-2.jpg' %}" alt="Image"></a>#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <div class="sidebar-widget">
                        <h2 class="sw-title">Blogs Category</h2>
                        <div class="category">
                            <ul>

                                {% for category in categories_with_count %}
                                    <li>
                                    <li><a href="{% url 'all-blogs-by-category' category.slug %}">{{ category.name }}</a><span>({{ category.blog_count }})</span></li>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {#                    <div class="sidebar-widget">#}
                    {#                        <div class="image">#}
                    {#                            <a href="https://htmlcodex.com"><img src="{% static 'img/ads-2.jpg' %}" alt="Image"></a>#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <div class="sidebar-widget">
                        <h2 class="sw-title">Tags Cloud</h2>
                        <div class="tags">
                            {% for tag in post.tags.all %}
                                <a href="">{{ tag.name }}</a>
                                {% if not forloop.last %} {% endif %}
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single News End-->
{% endblock %}
